<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="User_Creation.Admin_login"/>
    <class name="User_Creation.User_info"/>
    <class name="User_Creation.Change_Password"/>
    <class name="User_Creation.New_password"/>
      <class name="User_Creation.User_login"/>
      
      
      
      
    </classes>
  </test>
</suite>
